<%= simple_form_for(@buzzword) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :url %>
    <%= f.input :industry %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
