<% @buzzwords.each do |buzzword| %>
  <div class="buzzword row clearfix">
    <h2>
      <%= link_to buzzword.title, buzzword %><br>
      <small class="author">Submitted <%= time_ago_in_words(buzzword.created_at) %> by <%= buzzword.user.email %></small>
    </h2>

    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="<%= buzzword.url %>">Visit buzzword</a>
      <%= link_to like_buzzword_path(buzzword), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= buzzword.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_buzzword_path(buzzword), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down"></span>
        Downvote
        <%= buzzword.get_downvotes.size %>
      <% end %>
    </div>
  </div>
<% end %>

